 * {
    font-family: "Arial", "Arial Black";
}

body, html {
    height:100%;
    width:100%;
    margin:0px
}

header {
    width: 90%;
    background-color: rgb(106, 139, 167);
    border-radius: 25px;
    color: rgb(44, 45, 46);
    opacity: 100%;
    position: fixed;
    margin-left: 5%;
    margin-top: 10px;
    border: 2px solid black;
    box-shadow: 1px 5px 15px rgb(37, 37, 37);
    z-index: 1;

}

.company-name {
    font-size: 50px;
    text-indent: 20px;
    display: inline-block;
}

.nav-bar {
    float: right;
    margin-top: 50px;
    margin-right: 20px;
}

.nav-bar a {
    color: rgb(44, 45, 46);
    font-size: 30px;
    padding-left:60px;
}

.nav-list {
    list-style-type: none;
    color: black;
    display: inline-block;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpapercave.com/wp/wp4286413.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-txt {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.button-txt {
    font-size: 50px;
    background-color: rgb(58, 112, 194);
    opacity: 80%;
    display: block;
    width:400px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px;
    border-radius: 25px;

}

.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -280px;
    border-radius: 10px;
    z-index: 1;
    width: 800px;
}

.form-container {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border: 3px solid black;
    position: relative;

}

.form-container h1 {
    margin-top: 5px;
}

.form-container input[type=text], .form-container textarea {
    width: 98%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: 1px solid grey;
    background-color: white;
    resize: none;
    outline: none;
}

.form-container .btn {
    background-color: rgb(120, 172, 120);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 16px 20px;
    border: 2px solid green;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgb(91, 134, 91);
}

.form-container .cancel {
    background-color: rgb(204, 97, 97);
    border: 2px solid rgb(184, 20, 20);
    box-shadow: 5px 5px 10px rgb(109, 53, 53);
}

.form-container .btn:hover, .button-txt:hover {
    opacity: 100%
}

.about-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -10%;
    margin-left: -15%;
    border-radius: 10px;
    z-index: 1;
    width: 30%;
    height: 44%;
}

.aboutContainer {
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border: 3px solid black;
    border-radius: 10px;
}


.close-button {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    display: inline-block;
    padding: 3px 3px;
    vertical-align: middle;
    overflow: hidden;
    font-weight: bold;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
  }
  
.topright-contact {
    position: absolute;
    right: 7px;
    top: 7px;
  }
.topright-about {
    position: absolute;
    right: 0px;
    top: 7px;
  }

  .close-button:hover{
      background-color: rgb(238, 69, 69);
  }